<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.applicationdiagnosis">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ApplicationDiagnosis">
        <activity android:name=".EightSecQuestion"></activity>
        <activity android:name=".SevenSecQuestion" />
        <activity android:name=".SixSecQuestion" />
        <activity android:name=".FiveSecQuestion" />
        <activity android:name=".FourSecQuestion" />
        <activity android:name=".ThirdSecQuestion" />
        <activity android:name=".ResultDiagnotic" />
        <activity android:name=".SecondSecQuestion" />
        <activity android:name=".FirstSecQuestion" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>